<section waIntersectionObserver waIntersectionThreshold="0.5">
  <nav [@slideInDownOnEnter]>
    <h2>Glow</h2>
    <ul>
      <li>
        <a href="#">Product</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Reviews</a>
      </li>
      <li [@slideInDownOnEnter]="{value: true, params: { delay: 200 } }" style="padding: 5px; display: flex;
       align-items: center; justify-content: center; height: 30px; width: 30px; border-radius: 100%; background-color: var(--secondary-color)">
        <fa-icon style="color: white" [icon]="bag"></fa-icon>
      </li>
    </ul>
  </nav>
  <article class="hero" [@fadeInUpOnEnter]>
    <div>
      <h2>
      <span>Let your skin <br>
        <span class="line-2">
          Going
            <span class="image">
              <img src="assets/images/pretty-girl.png">
            </span> Out.
          </span>
        </span>
      </h2>

      <p>
        We want to bring to the world through our <br> products that very special feeling joy, healthy and <br> positive
        energy
      </p>

      <div class="buttons" [@slideInUp]>
        <button [@slideInUp]="{value: true, params: {delay: 200}}">
          <span>Shop Now</span>
          <fa-icon [icon]="arrowRight"></fa-icon>
        </button>
        <button [@slideInUp]="{value: true, params: {delay: 300}}">
          <fa-icon [icon]="play"></fa-icon>
          <span>How to use</span>
        </button>
      </div>
    </div>
    <div style="height: 680px; position: absolute; right: 0; top: 119px; z-index: 2">
      <img style="height: 100%" src="assets/images/first-lady.png">
    </div>
  </article>
  <article class="more-info" style="position: relative;" [style.opacity]="animateMoreDetails ? 1 : 0" (waIntersectionObservee)="animateMoreInfo($event)">
    <div style="height: 550px; margin-top: 100px; position: absolute; left: 74px; z-index: 20" [@fadeInLeft]="{value: animateMoreDetails}">
      <img style="height: 100%" src="assets/images/creams.png">
    </div>
    <div class="content" [@slideInUp]="{value: animateMoreDetails}">
      <h3>
        The self care brand that's <br> setting a new <span>standard</span> <br>
        <span>Clean Products.</span>
      </h3>

      <div [@slideInUp]="{value: animateMoreDetails, params: {delay: 50}}">
        <div [@slideInUp]="{value: animateMoreDetails, params: {delay: 150}}" >
          <h5>Where are products <br> made?</h5>
          <p>Many brands, especially in periods <br> care, carry products that take <br> centuries</p>
        </div>
        <div [@slideInUp]="{animateMoreDetails: animateMoreDetails, params: {delay: 250}}">
          <h5>Where are products <br> made?</h5>
          <p>Many brands, especially in periods <br> care, carry products that take <br> centuries</p>
        </div>
      </div>
    </div>
  </article>
  <article class="trending" [style.opacity]="animateTrending ? 1 : 0" (waIntersectionObservee)="onIntersection($event)">
    <div [@slideInUp]="{value: animateTrending}">
      <h3 [@slideInUp]="{value: animateTrending, params: {delay: 0}}">
        Trending On <br> <span>Essentials</span>
      </h3>
      <p [@slideInUp]="{value: animateTrending, params: {delay: 100}}">
        Made with nature's best ingredients - our <br> products' transparent ingredients. Fear of <br> God Essentials.
      </p>
      <button [@slideInUp]="{value: animateTrending, params: {delay: 200}}">
        <span>Browser All Products</span>
        <fa-icon [icon]="arrowRight"></fa-icon>
      </button>
    </div>
    <div *ngFor="let arr of items; let i = index" style="justify-items: center;" [@slideInRight]="{value: animateTrending, params: {delay: 100 * i}}">
      <div
        style="background-color: #fff; height: 400px; justify-content: center; align-items: center; display: flex; width: 100%">
        <img style="max-height: 300px" [src]="arr"></div>
      <div class="items-name">
        <h4>Shower Butter</h4>
        <span>{{190.99 | currency : 'USD' : 'symbol-narrow'}}</span>
      </div>
    </div>

  </article>
  <article class="content-2" [style.opacity]="animateMoreContent ? 1 : 0" (waIntersectionObservee)="animateContent2($event)">
    <div>
      <h3 [@fadeInUp]="{value: animateMoreContent, params: {delay: 100}}">We make going all <br> natural <span>Beauty.</span></h3>
      <p [@fadeInUp]="{value: animateMoreContent, params: {delay: 250}}">
        Made with nature's best ingredient -- our products' transparent <br> ingredient lists allow you to know.
      </p>
      <div class="pills" [@fadeInUp]="{value: animateMoreContent, params: {delay: 400}}">
        <div>
          <h5>Product <br> Users</h5>
          <div>7M+</div>
        </div>
        <div>
          <h5>Brand <br> Products</h5>
          <div>99+</div>
        </div>
        <div>
          <h5>Product <br> Reviews</h5>
          <div>5M</div>
        </div>
      </div>
    </div>
    <div>
      <div class="thinking-girl" [@zoomIn]="{value: animateMoreContent}">
        <img src="./assets/images/thinking-girl.png">
      </div>
    </div>
  </article>
  <article class="faq" [style.opacity]="animateFaq ? 1 : 0" (waIntersectionObservee)="animateFaqFn($event)">
    <div style="display: flex; align-items: end" [@fadeInLeft]="{value: animateFaq}">
      <div style="height: 600px">
        <img style="height: 100%" src="assets/images/pouring-cream.png">
      </div>
    </div>
    <div [@slideInUp]="{value: animateFaq}">
      <h3>You have <span>questions,</span> <br>
        we have answers.
      </h3>
      <ul>
        <li [@slideInUp]="{value: animateFaq, params: {delay: 100}}">
          <button>
            <span>Where are products made?</span>
            <span><fa-icon [icon]="minus"></fa-icon></span>
          </button>
          <p>Many bands, especially in period care, carry products that take centuries to biodegrade with pronounce.</p>
        </li>
        <li [@slideInUp]="{value: animateFaq, params: {delay: 250}}">
          <button>
            <span>How to purchase our products?</span>
            <span><fa-icon [icon]="plus"></fa-icon></span>
          </button>
        </li>
        <li [@slideInUp]="{value: animateFaq, params: {delay: 400}}">
          <button>
            <span>How to purchase our products?</span>
            <span><fa-icon [icon]="plus"></fa-icon></span>
          </button>
        </li>
      </ul>
    </div>
  </article>
  <article class="user-comment" style="margin-top: 100px" [style.opacity]="animateComments ? 1 : 0" (waIntersectionObservee)="animateCommentFn($event)" [@fadeInRight]="{value: animateComments}">
    <div>
      <div>
        <div class="quote" [@zoomIn]="{value: animateComments, params: {delay: 400}}">
          <fa-icon [icon]="quote" style="font-size: 6em; color: var(--secondary-color)"></fa-icon>
        </div>
        <p class="comment" [@fadeInRight]="{value: animateComments, params: {delay: 400}}">
          The UK jewellery awards is an event we always look forward to and we are be recognised
        </p>
      </div>
      <div class="bottom-info" [@fadeInRight]="{value: animateComments, params: {delay: 400}}">
        <div class="name">
          <span>Jane Cooper</span>
          <span>Naperville, USA</span>
        </div>

        <div class="sliders" [@fadeInRight]="{value: animateComments, params: {delay: 400}}">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="profile-pix" [@zoomIn]="{value: animateComments, params: {delay: 500}}">
      <img src="./assets/images/smiling-lady.png">
    </div>
  </article>

  <article class="companies" [@fadeInRight]="{value: animateComments}">
    <div *ngFor="let img of companies; let i = index" [@fadeInRight]="{value: animateComments, params: {delay: 100 * i*(i/2)}}">
      <img alt="" [src]="img">
    </div>
  </article>

  <article class="ig-pictures" [style.opacity]="animateIg ? 1 : 0" [@slideInRight]="{value: animateIg}" (waIntersectionObservee)="animateIgFn($event)">
    <div *ngFor="let img of igPictures; let i = index" [@slideInRight]="{value: animateIg, params: { delay: 100 * i }}">
      <img [src]="img">
    </div>
  </article>
  <footer>
    <div [@slideInUp]="{value: animateFooter}" [style.opacity]="animateFooter ? 1 : 0" (waIntersectionObservee)="animateFooterFn($event)">
      <div [@slideInUp]="{value: animateFooter, params: { delay: 0}}">
        <h3>
          Glow
        </h3>
        <p style="line-height: 1.3">
          Keep Up With Our New Release, <br>
          Beauty Tips And What Emma's Been <br>
          Up To.
        </p>
        <div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div [@slideInUp]="{value: animateFooter, params: { delay: 100}}">
        <h4>Company</h4>
        <span>About</span>
        <span>Jobs</span>
        <span>Branding</span>
        <span>Newsroom</span>
      </div>

      <div [@slideInUp]="{value: animateFooter, params: { delay: 200}}">
        <h4>Resources</h4>
        <span>College</span>
        <span>Support</span>
        <span>Safety</span>
        <span>Stremkit</span>
      </div>
      <div [@slideInUp]="{value: animateFooter, params: { delay: 300}}">
        <h4>Terms and Condition</h4>
        <span>Policy</span>
        <span>Faq</span>
        <span>Return & Delivery</span>
        <span>Tracking</span>
      </div>
      <div [@slideInUp]="{value: animateFooter, params: { delay: 400}}">
        <h4>Subscribe</h4>
        <span>Get 10% off your first order</span>
        <div style="position: relative">
          <input placeholder="Enter your email address"
                 style="height: 40px; background-color: #262653; border: none; padding: 10px; border-radius: 100px">
          <button
            style="border: white 2px solid; position: absolute; right: 0; background-color: var(--secondary-color); height: 60px; width: 60px; border-radius: 100%; color: white">
            <fa-icon size="2x" [icon]="send"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div style="width: 100%; display: flex; justify-content: center; margin-top: 50px" [@slideInUp]="{value: animateFooter, params: { delay: 500}}">
      <div style="width: 50%; text-align: center; font-size: .9em; padding-top: 40px; border-top: 1px solid rgba(255, 255, 255, .4); color: rgba(255, 255, 255, .4);">
        Copyright &copy; 2022 Musemind | All rights reserved.
      </div>
    </div>
  </footer>
</section>
